/.pytest_cache
/.vscode
/arguments
/ASstrings
/cache
/calculate
/casting
/classes
/comments
/conditions
/dictionaries
/errors
/files
/for
/functions
/hello-world
/lists
/modules
/operators
/print
/refactoring
/statements
/strings
/testing
/testing.py
/test_example.py
/variables
/while
/__pycache__